.toggle-switch {

  label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-moon {
    color: #aaa;
    font-size: 22px;
    transition: color 400ms ease-in;
  }

  input {
    display: none;
    visibility: hidden;

    &:checked {

      ~ .switch {
        background-color: #3498db;
      }

      ~ .switch::before {
        transform: translateX(20px);
      }

      ~ .icon-moon {
        color: rgb(236, 236, 104);
      }
    }
  }

  .switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: #aaa;
    cursor: pointer;
    margin-right: 4px;

    &::before {
      position: absolute;
      top: 2px;
      left: 2px;
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: white;
      transition: transform 200ms ease-in;
    }
  }
}

