.toggle-theme {
  padding: 20px;
}

.toggle-theme input[type="checkbox"] {
  display: none;
  visibility: none;
  outline: none;
  user-select: none;
}

.toggle-theme i {
  display: inline-block;
  font-size: 24px;
  color: black;
}

i.icon-moon {
  font-size: 22px;
  color: rgb(221, 221, 141);
  color: #ccc;
}

.toggle {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: #aaa;
  cursor: pointer;
  margin-right: 4px;
}

.toggle::before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
}

.toggle-theme input[type="checkbox"]:checked ~ .toggle::before {
  transform: translateX(20px);
}

.toggle-theme input[type="checkbox"]:checked ~ .toggle {
  background-color: #3498db;
}

.toggle-theme input[type="checkbox"]:checked ~ .icon-moon {
}

.toggle-theme input[type="checkbox"]:checked ~ .icon-moon {
  color: rgb(236, 236, 104);
}
