.toggle-bar {
  background-color: #f6f6f6;
  /* background-color: #202133;
  //background-color: #20202b;
  background: #202133;
  background-color: #1c1c28;
  background-color: #202133;
  background-color: #1c1c1c;
  background-color: #111;
  background-color: rgb(9, 10, 22); */
  border-bottom: 2px solid #e6e6e6;
  //border-bottom: 1px solid rgba(white, 0.1);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
}