@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.App {
  text-align: center;
  background: #1c1c28;
  background: #efefef;
  min-height: 100vh;

  > .container {
    padding-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loading {
    color: #222;
  }

  &.dark {
    background: #1c1c28;
    color: white;

    .toggle-bar {
      background-color: rgb(9, 10, 22);
      border: none;
    }

    .current-language {
      i {
        color: white;
      }
    }

    .dropdown-inner {
      box-shadow: none;
      background-color: #202133;
      color: white;
      border: 1px solid rgba(white, 0.1);
    }

    .card {
      background-color:  #202133;
      box-shadow: none;
    
      .recovered {
        color: white;
      }

      .last-update {
        color: #ccc;
      }
    }

    footer {
      background-color: rgb(9, 10, 22);
      color: white;
    }
  }
}

@media screen and (min-width: 768px) {
  .App {
    > .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 100px 0 50px 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .App {
    > .container {
      width: 1200px;
      max-width: 1200px;
      height: 100vh;
      padding: 0;
      padding-top: 54px;
      flex-direction: row;
      justify-content: center;
    }
  }
}
 