//@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
body {
  box-sizing: border-box;
  /* font-family: "Teko", sans-serif; */
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.App {
  text-align: center;
  background: #1c1c28;
  background: #efefef;
  min-height: 100vh;

  > .container {
    //margin: 50px auto 0 auto;
    padding-top: 50px;
  }

  &.dark {
    background: #1c1c28;
    color: white;

    .toggle-bar {
      background-color: rgb(9, 10, 22);
      //border-bottom: 1px solid rgba(white, 0.3);
      border: none;
    }

    .current-language {
      i {
        color: white;
      }
    }

    .dropdown-inner {
      box-shadow: none;
      background-color: #202133;
      color: white;
      border: 1px solid rgba(white, 0.1);
    }

    .card {
      background-color:  #202133;
      box-shadow: none;
    
      .recovered {
        color: white;
      }

      .last-update {
        color: #ccc;
      }
    }

    footer {
      background-color: rgb(9, 10, 22);
      color: white;
    }
  }
}

 