*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #efefef;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

    /* === SCROLLBAR === */
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ccc;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 50px;
    transition: background-color 600ms ease;
  }

  /* === SCROLLBAR-DARK */
  /* Track */
  .dark::-webkit-scrollbar-track {
    background-color: #090a16;
  }

  /* Handle */
  .dark::-webkit-scrollbar-thumb {
    background: rgba(white, 0.8);
  }

