.dropdown-language {
  color: #aaa;
  position: relative;
  cursor: pointer;

  img {
    width: 32px;
    height: 20px;
    margin-right: 5px;
  }

  .current-language {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 12px;
    }
  }

  .dropdown-inner {    
    position: absolute;
    top: 22px;
    right: -10px;
    background: white;
    box-shadow: 1px 1px 2px #aaa;
    transition: all 200ms ease;

    &:hover {
      background: darken(white,5%);
      color: darken(#aaa, 20%);
    }
  }

  .dropdown-item {
    padding: 8px;
    width: 140px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    font-size: 12px;

    p {
      padding-top: 4px;
    }
  }
}

@media screen and (min-width: 768px) {
  .dropdown-language {
    img {
      width: 34px;
      height: 22px;
    }

    .current-language {  
      i {
        font-size: 14px;
      }
    }

    .dropdown-item {
      padding: 10px;
      width: 145px;
      display: flex;
      align-content: center;
      justify-content: flex-start;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .dropdown-language {

    .dropdown-inner {    
      top: 24px;
    }

    .dropdown-item {
      padding: 6px;
      width: 140px;
      font-size: 12px;
    }
  }
}